# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit logs & cache
.streamlit/
*.log

# Editor state
.vscode/
.idea/
.DS_Store
